@media (max-width: 1601px) {
  .main-menu {
    height: 80px;
  }  

  .sub-nav-item {
      top: 80px!important;
  }
  .nav-menu > li {
    padding: 29.2px 0;
  }
  .hero-container {
    max-width: 570px;
    /* padding: 290px 0 290px 0;
    margin-left: 200px; */
  }
  .smartphonepng {
      max-width: 145%;
      left: 43%;
  }
  .test-wrapper {
      min-width: 630px;
      padding-right: 50px;
      padding-left: 50px;
  }
}
@media (max-width: 1367px) {
    .hero-container {
        max-width: 570px;
        /* padding: 225px 0 225px 0;
        margin-left: 200px; */
    }  
    .summary {
        padding: 100px 0 150px 0;
    }
    .smartphonepng {
        max-width: 120%;
        left: 43%;
    }
}

@media screen and (max-width: 1201px) {
    .li-home {
        display: none;
    }
    .menu-container {
        max-width: 900px;
    }
    .hero-container {
        max-width: 470px;
        /* padding: 200px 0 200px 0; */

    }
    .hero-content {
        margin-bottom: 30px;
    }
    .hero-header {
        font-size: 100px;
        margin-bottom: 20px;
    }
    .container-section {
        max-width: 900px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
    .summary {
        padding: 100px 0;
    }
    .sum-container {
        flex-wrap: nowrap;
    }
    .sum-box {
        padding: 40px 25px;
    }
}
@media screen and (max-width: 1025px) {
    .main-menu {
        width: 100vw;
        margin: 0;
    }
    .menu-container {
        max-width: 720px;
        justify-content: space-between;
        padding: 20px 0;

    }
    .nav-menu {
        display: none;
    }   
    .icon-menu {
        gap: 70px;
    }

    .smartphonepng {
        left: 43%;
        max-width: 150%;
    }
}
@media screen and (max-width: 769px) {

    .menu-container {
        padding: 14px 0;
        margin: 0 50px;
    }
    .icon-menu {
        gap: 30px;
    }
    .search-icon,
    .menu-smartphone {
        padding: 15px 15px;
        border-radius: 50%;
        background-color: #3333;
    }
    
    .hero-container {
        max-width: 370px;
        /* padding: 16% 0;
        margin-left: 7%; */

    }


    .hero-header {
        font-size: 70px;
    }
    .hero-sub {
        font-size: 25px;
    }
    .play-icon > img {
        max-width: 60%;
    }
    .video-sub {
        font-size: 12px;
        font-family: 'Open Sans';
        font-weight: 600;
        padding: 15px;
        color: #ffffff;
    }
    .container-section {
        max-width: 600px;
        margin: 0 auto;
    }
    .summary {
        padding: 70px 0 70px 0;
    }
    .sum-container {
        flex-wrap: wrap;
    }
    .sum-box {
        max-width: 70%;
    }
    .smartphone {
        margin-bottom: 70px;
    }
    .background-smartphone {
        margin: 0 auto;
        max-width: 75%;
    }
    .smartphonepng {
        left: 43%;
        max-width: 100%;
    }
    .background-grid {
        max-width: 50%;
    }
    /* .grid-smartphone {
        left: -50px;
        bottom: -50px;
    } */
    .smallsubmit {
        margin-top: 35px;
    }
    .allworks {
        margin-top: 100px;
    }
    .allworks-content {
        margin: 0 auto 50px;
    }
    .content-heading {
        margin-bottom:  20px;
    }
    .caption {
        margin-bottom: 20px;
    }
    .allworks-imgs {
        margin-bottom: 35px;
    }
    .experience {
        margin: 70px 0;
    }
    .experience-img {
        margin: 0 auto;
        padding: 0;
        width: initial;
    }
    .grid-number {
        right: 0%;
        bottom: -20%;   
    }
    .grid-smartphone {
        left: -5%;
        bottom: -20%;
    }
    
    .partner-header {
        margin-bottom: 35px;
    }
    .partner-imgs {
        grid-template-columns: repeat(2, 1fr);
    }
    .test-wrapper {
        min-width: 530px;
        padding: 35px;
    }
    .test-text {
        font-size: 20px;
    }
    .vectorial,
    .test-content {
        margin-bottom: 20px;
    }
    
     
}
@media  (max-width: 490px) {
    p {
        font-size: 14px;
    }
    .content-heading {
        font-size: 26px;
    }
    .container-section {
        margin: 0 10px 30px 10px;
    }
    .caption {
        font-size: 18px;
    }
    .smallsubmit {
        max-width: 150px;
        margin-top: 20px;
    }
    .link-submit {
        padding: 15px 0;
        font-size: 12px;
    }
    .partner-imgs {
        grid-gap: 10px;
    }
    .main-menu {
        height: 60px;
    }
    .menu-container {
        padding: 5px 0;
        margin: 0 20px;
        justify-content: space-between;
    }
    .icon-menu {
        justify-content: space-between;
        gap: 20px;
    }
    .search-icon {
        display: none;
    }

    .hero-content {
        margin-bottom: 10px;
    }
    .hero-header {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .hero-sub {
        font-size: 12px;
    }
    .hero-video {
        gap: 5px;
    }
    .play-icon {
        height: 35px;
    }
    .play-icon > img {
        max-width: 50%;
    }

    .video-sub {
        padding: 10px;
        font-size: 10px;
    }
    .summary {
        padding: 50px 0;
    }
    .sum-box {
        max-width: 100%;
        padding: 35px 35px;
    }
    .sum-box-img {
        margin-bottom: 20px;
    }
    .allworks-imgs {
        flex-wrap: wrap;
        gap: 30px;
    }
}