body {
    background-color: #222831;
}
.wrapper {
    background: url(../images/BG.png) no-repeat top/100%;
    max-width: 1920px;
    margin: 0 auto;
}
.main-menu {
    background-color: #f6754c;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    height: 120px;
    max-width: 1920px;
    margin: 0 auto;
    border-bottom: solid 0.5px rgba(255, 255, 255, 0.3);
}

.menu-container {
    margin: 0 auto;
    max-width: 1200px;
    justify-content: space-between;
    display: flex;
    /* justify-items: center; */
    align-items: center;
    /* padding: 40px 0; */
}

.nav-menu {
    font-size: 22px;
    text-align: center;
    display: flex;
    gap: 0 10px;
    /* align-items: center; */
    /* justify-items: center; */
}

.icon-menu {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.nav-menu > li{
    padding: 49px 0 49px 0;
}
.before-li {
    position: relative;
}
.before-li::before {
    content: "";
    z-index: -1;
    width: 100%;
    height: 0px;
    left: 0;
    position: absolute;
    top: 0;
    background-color: #8c4a34;
    transition: all 0.4s;
}
.menu-item {
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    padding: 0 20px;
}

.before-li:hover::before {
    height: calc(100% - 1px);
}
.sub-nav {
    position:relative;
}

.sub-nav:hover .sub-nav-item{
    top: 120px;
    opacity: 1;
}
.sub-nav:hover .menu-item{
    text-decoration: underline;
}

.sub-nav-item {
    opacity: 0;
    font-size: 20px;
    display: block;
    text-align: justify;
    position:absolute;
    top: 0;
    width: 200px;
    transition: all 0.3s linear;
    background-color: #8c4a34;
}
.subnav {
    padding: 15px 10px;
}
.subnav:hover {
    background-color: rgba(250, 235, 215, 0.788);
    color: #222831;
}
.hero {
    width: 100%;
    padding-top: 56.25%;
    position: relative;
}
.hero-container {
    max-width: 570px;
    position: absolute;
    left: 10%;
    top: 35%;
}
.hero-content {
    color: #ffffff;
    margin-bottom: 50px;
}
.hero-header {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 120px;
    margin-bottom: 20px;
}
.hero-sub {
    font-size: 40px;
}
.hero-video {
    display: flex;
    gap: 25px;
}
.video-sub {
    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: 600;
    padding: 25px 25px;
    color: #ffffff;
}

.summary {
    padding: 150px 0 200px 0;
}
.container-section {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.sum-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 30px;
}
.sum-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    background-color: #2b3139;
    padding: 75px 55px 70px 55px;
}
.sum-box-img {
    margin-bottom: 45px;
}
.sum-box-header {
    font-size: 22px;
    margin-bottom: 15px;
}
.smartphone {
    margin-bottom: 100px;
}
.container {
    display: flex;
    justify-content: space-between;
    gap: 0 70px;
    align-items: center;
}
.content-container {
    max-width: 470px;
}

.caption {
    color: #f65464;
    font-weight: bold;
    margin-bottom: 40px;
}
.content-heading {
    font-size: 36px;
    line-height: 1.55555556;
    margin-bottom: 40px;

}
/* .content-text {
    margin-bottom: 45px;
} */

.link-submit {    
    width: 100%;
    padding: 20px 0;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    background-image: linear-gradient(to right, #f66963, #f68726);
    text-align: center;
}
.link-submit:hover {
    background-image: linear-gradient(to right, #f68726, #f66963); 
}

.smartphone-img {
    max-width: 500px;
    position: relative;
}
.smartphonepng {
    position: absolute;
    top: 50%;
    left: 43%;
    transform: translate(-50%, -50%);
    max-width: initial;
}
.background-grid {
    position: absolute; 
    z-index: -1;
}
.grid-smartphone {
    left: -100px;
    bottom: -100px;
}

.allworks{
    margin-top: 200px;
}


.allworks-content {
    max-width: 500px;
    text-align: center;
    margin: 0 auto 100px;
}

.allworks-imgs {
    display: flex;
    gap: 0 30px;
    margin-bottom: 70px;
}
.collum {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px 0;
}
.block {
    overflow: hidden;
    border-radius: 10px;
}
.block > img {
    transition: all .3s linear;
}
.block:hover > img {
    transform: scale(1.3);
}
.smallsubmit {
    margin-top: 70px;
    max-width: 230px;
}
.allworks-submit {
    margin: 0 auto;
}
.experience {
    margin: 200px 0;
}

.experience-img {
    padding-left: 120px;
    width: 570px;
    position: relative;
}
.grid-number {
    right: -100px;
    bottom: -100px;
}
.partner-header {
    margin-bottom: 70px;
}
.partner-caption{
    text-align: center;
    margin-bottom: 0;
}

.partner-imgs {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;

}
.partner-item {
    background-color: #2b3139;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 40px;
}
.testimonials {
    margin: 100px 0;
    max-width: 100%!important;
}
.scroll-flex {
    max-width: 1560px;
    margin: auto;
    padding: 20px;
    gap: 70px;
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
}
.scroll-flex::-webkit-scrollbar {
    height: 15px;
    display: none;
}
.scroll-flex:hover::-webkit-scrollbar {
    display: block;
}
.scroll-flex::-webkit-scrollbar-track{
    background: #f1f1f100; 
}
.scroll-flex::-webkit-scrollbar-thumb{
    background: #f65464;
    border-radius: 50rem;
}
.test-container {
    border-radius: 10px;
    box-shadow: rgb(149 157 165 / 20%) 0px 5px 24px;
}
.test-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-width: 830px;
    padding: 50px 100px 20px 100px;
}
.test-text {
    font-size: 30px;
    color: #eeeeee;
}
.img-reviewers {
    height: 85px;
    width: 85px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 30px;
}
.vectorial {
    position: absolute;
    top: -20px;
    margin-bottom: 50px;
}
.test-content {
    margin-bottom: 50px;
}
.name-reviewers {
    font-weight: bold;
    margin-bottom: 20px;
}