body {
    background-color: #222831;
}
.wrapper {
    background: url(../images/BG.png) no-repeat top/100%;
    max-width: 1920px;
    margin: 0 auto;
}
.main-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    height: 120px;
    max-width: 1920px;
    margin: 0 auto;
    border-bottom: solid 0.5px rgba(255, 255, 255, 0.3);
}

.menu-container {
    margin: 0 auto;
    max-width: 1200px;
    justify-content: space-between;
    display: flex;
    /* justify-items: center; */
    align-items: center;
    /* padding: 40px 0; */
}

.nav-menu {
    font-size: 22px;
    text-align: center;
    display: flex;
    gap: 0 50px;
    /* align-items: center; */
    /* justify-items: center; */
}

.icon-menu {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.nav-menu > li{
    padding: 49px 0 49px 0;
}
.sub-nav{
    position:relative;
}

.sub-nav:hover .sub-nav-item{
    display: block;
}
.sub-nav:hover .menu-item{
    text-decoration: underline;
}

.sub-nav-item {
    display: none;
    position:absolute;
    top: 120px;
    width: 200px;
    text-align: justify;
    background-color: #384049a9;
}
.subnav {
    padding: 15px 10px;
}
.subnav:hover {
    background-color: rgba(250, 235, 215, 0.788);
    color: #222831;
}
.hero-container {
    max-width: 570px;
    padding: 390px 0 390px 0;
    margin-left: 375px;
}
.hero-content {
    color: #ffffff;
    margin-bottom: 50px;
}
.hero-header {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 120px;
    margin-bottom: 20px;
}
.hero-sub {
    font-size: 40px;
}
.hero-video {
    display: flex;
    gap: 25px;
}
.video-sub {
    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: 600;
    padding: 25px 25px;
    color: #ffffff;
}

.summary {
    padding: 150px 0 200px 0;
}
.container-section {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.sum-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 30px;
}
.sum-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    background-color: #2b3139;
    padding: 75px 55px 70px 55px;
}
.sum-box-img {
    margin-bottom: 45px;
}
.sum-box-header {
    font-size: 22px;
    margin-bottom: 15px;
}
.smartphone {
    margin-bottom: 100px;
}
.container {
    display: flex;
    justify-content: space-between;
    gap: 0 70px;
    align-items: center;
}
.content-container {
    max-width: 470px;
}

.caption {
    color: #f65464;
    font-weight: bold;
    margin-bottom: 40px;
}
.content-heading {
    font-size: 36px;
    line-height: 1.55555556;
    margin-bottom: 40px;

}
.content-text {
    /* margin-bottom: 45px; */
}

.link-submit {    
    width: 100%;
    padding: 20px 0;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    background-image: linear-gradient(to right, #f66963, #f68726);
    text-align: center;
}

.smartphone-img {
    max-width: 500px;
    position: relative;
}
.smartphonepng {
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    max-width: initial;
}
.background-grid {
    position: absolute; 
    z-index: -1;
}
.grid-smartphone {
    left: -100px;
    bottom: -100px;
}

.allworks{
    margin-top: 200px;
}


.allworks-content {
    max-width: 500px;
    text-align: center;
    margin: 0 auto 100px;
}

.allworks-imgs {
    display: flex;
    gap: 0 30px;
    margin-bottom: 70px;
}
.collum {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px 0;
}
.smallsubmit {
    margin-top: 70px;
    max-width: 230px;
}
.allworks-submit {
    margin: 0 auto;
}
.experience {
    margin: 200px 0;
}

.experience-img {
    padding-left: 120px;
    width: 570px;
    position: relative;
}
.grid-number {
    right: -100px;
    bottom: -100px;
}
.partner-header {
    margin-bottom: 70px;
}
.partner-caption{
    text-align: center;
    margin-bottom: 0;
}

.partner-imgs {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;

}
.partner-item {
    background-color: #2b3139;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 40px;
}